########################
#   Compiled source    #
########################
*.class
*.exe
*.o
*.out


###############
#   Package   #
###############
*.7z
*.tar*
*.gz*
*.jar
*.iso
*.rar
*.tar*
*.zip


#########################
#   Logs & Docs files   #
#########################
*.doc
*.rtf
*.swo

##############
#   Folder   #
##############
.classpath
.project
.setting
build/*
javadoc/*
bin/*
config/*

#######################
#   Temporary files   #
#######################
*~
*.swp


#################
#   SVN files   #
#################
.svn*
